.cc {
  max-width: 980px;
  width: 980px;
  padding: auto;
}

.top-section {
  background-color: black;
  color: white;
  text-align: center;
}
.left-col {
  z-index: 1;
}
.right-col {
  z-index: 3;
}
.lower-section {
  height: 39%;
  text-align: center;
  background-color: black;
  color: white;
  padding-bottom: 70px;
}
h1 {
  color: darkkhaki;
  font-size: 2.5rem;
  font-weight: bolder;
  text-align: center;
}
.name {
  font-size: 1.5rem;
  color: darkkhaki;
  line-height: 1;
  margin: 50px auto;
}
.n1 {
  font-size: 2.7rem;
  font-weight: bold;
}

.n2 {
  font-size: 3.7rem;
  font-weight: bold;
}
.d {
  font-size: 1.5rem;
  margin-top: 10px;
}
.notice {
  background-color: darkkhaki;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}
h2 {
  font-size: 2.3rem;
  padding: 20px;
}

.lower-section p {
  font-size: 1.8rem;
  margin: 10px 70px;
  line-height: 1.4;
}
