.cc {
  max-width: 980px;
}
.top-head {
  text-align: center;
  background-color: brown;
  color: aliceblue;
  margin: 0;
}

.top-head h1 {
  font-size: 52px;
  margin: 0;
  padding: 0;
}
.top-head span {
  margin: 0;
  color: yellow;
  padding: 0;
  font-size: 86px;
}

.bel-head {
  text-align: center;
  padding-bottom: 10px;
  font-weight: bold;
}

.name-section {
  background-color: black;
  color: aliceblue;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}

.aka {
  text-align: center;
  font-size: 22px;
  color: brown;
  font-weight: bold;
}
.aka span {
  font-style: italic;
}

.ext {
  background-color: brown;
  color: aliceblue;
  padding: 10px;
  font-weight: bold;
}
.ext-p span {
  color: yellow;
}

.symp {
  text-align: center;
  padding: 8px;
  margin: 10px auto;
  font-size: 23px;
  font-weight: bold;
  color: aliceblue;
  background-color: black;
}
