.cc {
  max-width: 980px;
  width: 980px;
  padding: auto;
}

.title {
  text-align: center;
  margin: 50px auto;
}
.title h1 {
  font-size: 68px;
  font-weight: bold;
  color: black;
}

.col:nth-child(1) {
  max-width: 45%;
}

.col:nth-child(2) {
  max-width: 54%;
  font-size: 1.2rem;
}
.col:nth-child(2) span {
  font-weight: bold;
}
.name-section {
  text-align: center;
  font-size: 2.3rem;
}
.name-section span {
  font-size: 3rem;
}
.age-section {
  text-align: center;
  font-size: 2rem;
}
.age-section span {
  font-size: 2.3rem;
}

.details {
  background-color: rgb(105, 105, 105, 0.2);
  color: black;
}
d-img {
  max-height: max-content;
}
