h1 {
  font-style: italic;
}
.cc {
  background-color: rgba(54, 19, 19, 0.61);
  border: 10px solid white;
  color: aliceblue;
  padding: 50px auto;
  width: 720px;
}

.img-section {
  max-width: 50%;
  width: 50%;
  margin: 20px auto;
  border: 10px solid aliceblue;
  border-radius: 70%;
  padding: 50%;
  background-image: url(./img/2.png);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: aliceblue;
}
.name-section {
  text-align: center;
  margin-top: 50px;
}
.name-section p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.cc-heading {
  margin-top: 20px;
}
.all-oth p {
  margin: 30px auto;
}

.inv {
  text-align: center;
  font-size: 14px;
  margin: 30px auto;
  color: rgba(54, 19, 19, 0.61);
  background-color: aliceblue;
  padding: auto;
  font-weight: bold;
}
